body {
    margin: 0;
    overflow-x: hidden;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 500px;
    animation: twinkle 1s alternate infinite;
}
.abt{
    text-align: center;
    display: flex;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f5f5f5;
    margin: 4px 0;
    transition: 0.4s;
    
}

.side-panel {
    position: fixed;
    width: 0;
    height: 100%;
    background: transparent;
    box-shadow: 0 25px  0 rgba(48, 47, 47, 0.5);
    backdrop-filter:blur(1px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    padding-top: 60px;
    color: #fff;
}

.side-panel.active {
    width: 250px;
}

.side-panel h2 {
    padding: 10px;
}

.side-panel p {
    padding: 10px;
}

@keyframes easeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero{
    padding-bottom: 55%;
}
.title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {

    padding-left: 100%;
    padding-right: 100%;
    background-color: #fff;
    color: #000;
}

h1, h2, p {
    margin: 0;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
  margin:10px;
  text-align: center;
  padding-right: 30px;
}