* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

:root {
    --clr-neon:hsl(133, 100%, 54%);
    --clr-bg: hsl(323 21% 16%);
    --gradient: linear-gradient(45deg, #662D8C, #ED1E79,#2E3192 ,#D4145A,#FBB03B );

}
.container {
    height: 100vh;
    width: 100%;
    position: relative;
    
}


@keyframes color {
    0% {
        background-position: 0 50%;

    }
    100% {
        background-position: 100% 50%;
    }
}
.hero {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    background: linear-gradient(45deg, #662D8C, #ED1E79, #2E3192, #D4145A, #FBB03B);
    -webkit-background-clip: text; 
    color: transparent;
    background-size: 200% 200%; 
    animation: color 12s ease-in-out infinite alternate;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color:#3d2645;
}
.work{
    justify-content: center;
    height: 200vh;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.work h2{
    position: relative;
    z-index: 1;
    top:-200px;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bidya {
    position: relative;
    top: 10;
    align-items: bottom;
    display: flex;
    flex-wrap: wrap;
}

.projects {

    width: 250px;
    border-radius: 5px;
    margin-left: 50px; /* Add 'px' units for margin values */
    height: 500px;
    background-color: #2E3192;
    border-width: 2px;
    transition: transform 0.3s; /* Add a smooth transition effect on hover */
}
.projects:hover {
    transform: scale(1.2); /* Pop out the current project on hover */
    
}



.sheik
 {
    align-items: top;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    margin-top: 100;    
}
.project {
    
    width: 600px;
    border-radius: 5px;
    margin: 10PX; /* Add 'px' units for margin values */
    height: 250px;
    background-color: #2E3192;
    border-width: 2px;
    transition: transform 0.3s; /* Add a smooth transition effect on hover */
    animation: moveUp 10s linear infinite;
}
.project:hover {
    transform: scale(1.2); /* Pop out the current project on hover */
    
}

.contact{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: black;
    font-family: 'Open Sans', sans-serif;
    color:var(--clr-neon)
}




.neon-button {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    position: relative;
    z-index: 1; /* Ensure the button stays on top */

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
    z-index: -1; /* Move the pseudo-element behind the button */
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -2; /* Move the pseudo-element further behind the button */
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: white;   
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
    z-index: 0; /* Bring the pseudo-element to the front on hover */
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
    z-index: -1; /* Move the pseudo-element further behind on hover */
}

.app{

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    border-color: var(--gradient);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite alternate;
}
.website{
    border-color: var(--gradient);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite alternate;
    font-family:monospace;
    font-weight: 100;
}
.abt {
    position: relative;
    font-family: sans-serif;
    font-size: 10vw;
    color: transparent;
    background-size: 300% 300%;
    background-image: var(--gradient); /* Apply the gradient background */
    background-clip: text; /* Clip the background to the text */
    -webkit-background-clip: text; /* For Webkit/Blink browsers */
    position: absolute;
    left: 100;
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.abt:hover {
    transform: scale(1.2); /* Shrink the text on hover */
    animation:color 12s infinite alternate;
}

.abt-p{
    font-family:'Montserrat', sans-serif; 
    color: #b4b4b8;
    padding-top: 150px;

}

