* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-neon:hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --gradient: linear-gradient(45deg, #662D8C, #ED1E79,#2E3192 ,#D4145A,#FBB03B );

}
.container {
    height: 100vh;
    width: 100%;
    
}

@keyframes color {
    0% {
        background-position: 0 50%;

    }
    100% {
        background-position: 100% 50%;
    }
}
.hero {
    height: 100vh;
    width: 100%;
    background: var(--gradient);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    color: rgb(255, 255, 255);
    font-size: 5rem;  
    


}
h1.title{
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color:antiquewhite;
}
.work{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
}
.contact{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: black;
    font-family: 'Open Sans', sans-serif;
    color:var(--clr-neon)
}




.neon-button {
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    position: relative;
    z-index: 1; /* Ensure the button stays on top */

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
    z-index: -1; /* Move the pseudo-element behind the button */
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -2; /* Move the pseudo-element further behind the button */
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: white;   
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
    z-index: 0; /* Bring the pseudo-element to the front on hover */
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
    z-index: -1; /* Move the pseudo-element further behind on hover */
}

.app{
    color: #FBB03B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.website{
    color: #04b42a;
    font-family:monospace;
    font-weight: 100;
}
.abt {
    position: relative;
    font-family: sans-serif;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 0.2vw #662D8C;
    position: absolute;
    left: 100;
    transition: transform 0.3s; /* Add a smooth transition effect */
}
.abt-p{
    font-family:'Montserrat', sans-serif; 
    color: #2E3192;
    padding-top: 150px;

}

.abt:hover {
    transform: scale(1.2); /* Shrink the text on hover */
    color: #662D8C;
}
